# SPDX-FileCopyrightText: © 2020 Alias Developers
# SPDX-FileCopyrightText: © 2016 SpectreCoin Developers
#
# SPDX-License-Identifier: MIT

* text=auto
## SOURCE - fix line endings
*.sh     text
*.css    text
*.html   text
*.js     text
*.json   text

## FONTS - leave untouched
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary
