# SPDX-FileCopyrightText: © 2020 Alias Developers
# SPDX-FileCopyrightText: © 2016 SpectreCoin Developers
#
# SPDX-License-Identifier: MIT

*.bak
.*.swp
build/
.idea/
*.iml
alias-ui-assets.tgz

*.DS_Store
